.body-container {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  font-family: "Montserrat", sans-serif;
}

.cal-box {
  border-radius: 30px;
  background-color: rgb(94, 174, 156);
  display: flex;
  flex-flow: row wrap;
  box-shadow: 10px 10px 11px rgb(157, 194, 186);
}

.form-box {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  padding: 0.5rem 1.5rem 2rem;
  background-color: white;
  border-radius: 30px;
  height: 800px;
  width: 800px;
}

.label {
  margin: 2rem 0 1rem;
  font-size: 1.6rem;
  color: rgb(224, 134, 118);
}

.form-control {
  border-color: #fffefe;
  height: 50px;
  box-shadow: inset 0 2.5px 2.5px rgba(0, 0, 0, 0.185),
    3px 3px 8px rgba(252, 252, 252, 0.6);
}

.form-control:focus {
  border-color: #fffefe;
  box-shadow: inset 0 4.5px 4.5px rgba(0, 0, 0, 0.075),
    3px 3px 8px rgba(252, 252, 252, 0.6);
}

.rate-box {
  display: flex;
  justify-content: space-between;
}
.current-rates {
  color: rgb(224, 134, 118);
  text-decoration: none;
  font-size: 0.8rem;
}
.current-rates:visited {
  color: rgb(224, 134, 118);
}




@media only screen and (min-width: 320px) and (max-width: 480px) {
  .body-container {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    font-family: "Montserrat", sans-serif;
  }

  .cal-box {
    border-radius: 15px;
    background-color: rgb(94, 174, 156);
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
  }

  .form-box {
    padding: 1rem 1.5rem 2rem;
    border-radius: 3%;
    background-color: white;
    border-radius: 30px 30px 0 0;
    height: auto;
    width: auto;
  }

  .label {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: rgb(224, 134, 118);
  }

  .form-control {
    border-color: #fffefe;
    height: auto;
    box-shadow: inset 0 2.5px 2.5px rgba(0, 0, 0, 0.185),
      3px 3px 8px rgba(252, 252, 252, 0.6);
  }

  .form-control:focus {
    border-color: #fffefe;
    box-shadow: inset 0 4.5px 4.5px rgba(0, 0, 0, 0.075),
      3px 3px 8px rgba(252, 252, 252, 0.6);
  }

  .rate-box {
    display: flex;
    justify-content: space-between;
  }
  .current-rates {
    color: rgb(224, 134, 118);
    text-decoration: none;
    font-size: 0.6rem;
  }
  .current-rates:visited {
    color: rgb(224, 134, 118);
  }
}
