.buble3 {
  margin: 1rem 2rem 0;
  color: #5eae9c;
  font-size: 1.5rem;
}
.num-months-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (min-width: 480px) and (max-width: 1300px) {
  .buble3 {
    margin: 0 2rem;
    font-size: 2rem !important;
  }
  .form-range {
    width: 100% !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .buble3 {
    margin: 0 2rem;
    font-size: 1rem !important;
  }

  .form-range {
    width: 100% !important;
  }
}
