/* .form-box2 {
    padding: 1rem 1rem;
    border-radius: 3%;
    background-color: white;
    box-shadow: 10px 10px 5px rgb(56, 124, 109);
    margin: 0 2rem;
    height: 330px;
    display: flex;
    flex-flow: column wrap;
    font-size: 1.5rem;
  } */